.watch-item {
  display: flex;
  padding: 10px;
  .watch-img {
    vertical-align: middle;
    margin-right: 10px;
  }
  .watch-title {
    font-size: 14px;
    font-weight: 700;
    overflow:hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
  }
  .watch-desc {
    margin-bottom: 5px;
    overflow:hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
