.back-top{
  transition: all ease-in-out .05s;
  height: 45px;
  width: 45px;
  position: fixed;
  bottom: 220px;
  scroll-behavior: smooth;
  right: 20px;
  background-color: #ffffff;
  text-align: center;
  line-height: 45px;
  .icon-arrowup{
    font-size: 20px;
    color: #3C98FE;
    font-weight: 600;
  }
}