.home{
  background: #EDEDED;
  .adm-swiper{
    position: relative;
  }
  .banner-info{
    color: #fff;
    left: 5%;
    top: 60%;
    position: absolute;
    .main-title{
      font-size: 14px;
      font-weight: 500;
      padding: 5px 0;
    }
  }
}