.public-detail{
  position: relative;
  .detail-top{
    position: absolute;
    color: #ffffff;
    top: 50px;
    left: 30px;
    .title{
      font-size: 14px;
      font-weight: 600;
      padding: 5px 0;
    }
    .info{
      font-size: 12px;
    }
  }
  .adm-image{
    height: 130px;
  }
  .detail-content, .detail-custom{
    img{
      width: 100%!important;
      height: unset!important;
    }
  }
  .main-title{
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    box-shadow: rgb(0 0 0 / 9%) 0 -0.02667rem 0 inset
  }
  .detail-custom{
    margin: 5px 0;
  }
}